html, body {
  height: 100%;
}

html, body, ul, h1, h2, p {
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
}

a {
  color: inherit;
}

.info-wrapper {
  background-image: url("../images/info.jpg");
  background-size: cover;
  background-position: center;
}

.info, .skills, .contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.info h1, .skills h1, .contact h1 {
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

.info p {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.info p:nth-last-child(1) {
  font-size: 40px;
}

.info span {
  white-space: nowrap;
}

.info i {
  padding-left: 5px;
  transition: all 0.5s ease-in-out;
}

.info a:hover i {
  transform: rotate(360deg);
}

.skills-wrapper {
  background-color: #364b70;
  background-image: url("../images/skills.gif");
  background-position: bottom;
}

.skills {
  width: 80%;
}

.skills ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.skills ul:nth-last-child(1) {
  position: absolute;
  right: 0;
}

.skills li::before {
  font-family: "FontAwesome";
  content: "\f101";
}

.skills h2 {
  padding: 10px 0;
}

.skills li {
  font-size: 20px;
  padding: 5px 0;
}

.contact-wrapper {
  height: 300px;
  background-image: url("../images/contact.png");
  background-size: cover;
  background-position: center;
}

.contact form {
  margin-top: 30px;
}

.contact input {
  font-family: "FontAwesome", sans-serif;
  width: 250px;
  outline: none;
  border: none;
  padding: 10px;
  margin-right: 10px;
}

.contact input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  margin: 0
}
