html, body {
  height: 100%;
}

html, body, ul, h1, h2, p {
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  background-repeat: no-repeat;
}

a {
  color: inherit;
}

.info-wrapper {
  background-image: url("../images/info.jpg");
  background-size: cover;
  background-position: center;
}

.info, .profile, .contact {
  padding: 50px 0;
}

.info img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.info h1, .profile h1, .projects h1, .contact h1 {
  font-size: 30px;
  text-align: center;
}

.info h1 {
  padding: 5px;
}

.info p {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.info p:nth-last-child(1) {
  font-size: 40px;
}

.info span {
  white-space: nowrap;
}

.info i {
  padding-left: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.info a:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.profile-wrapper {
  background-color: #364b70;
  background-image: url("../images/profile.gif");
  background-position: bottom;
}

.profile h1, .contact h1 {
  margin-bottom: 20px;
}

.profile ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin-left: 10%;
}

.profile ul:nth-last-child(1) {
  position: absolute;
  right: 10%;
}

.profile li::before {
  font-family: "FontAwesome";
  content: "\f101";
  padding-right: 10px;
}

.profile h2 {
  padding: 10px 20px;
}

.profile li {
  font-size: 20px;
  padding: 5px 0;
}

.contact-wrapper {
  background-image: url("../images/contact.jpg");
  background-position: center;
  background-size: cover;
}

.contact {
  margin: 0 30px;
}

.contact h1 {
  color: black;
}

.contact form {
  max-width: 545px;
  margin: auto;
}

.contact input, .contact textarea {
  font-family: "FontAwesome", sans-serif;
  outline: none;
  border: none;
  padding: 10px;
}

.contact input {
  width: calc(50% - 25px);
}

.contact input[type="email"] {
  float: right;
  margin-left: 5px;
}

.contact textarea {
  display: block;
  margin: 10px 0;
  width: calc(100% - 20px);
}

.contact input[type="submit"] {
  display: block;
  color: inherit;
  background-color: black;
  margin: auto;
  width: auto;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width:900px) {

  .profile ul {
    display: block;
    width: 80%;
    margin: auto;
  }

  .profile ul:nth-last-child(1) {
    position: relative;
    margin-top: 30px;
    right: 0;
  }
}

@media (max-width: 500px) {

  .contact input {
    display: block;
    width: calc(100% - 20px);
  }

  .contact input[type="email"] {
    float: none;
    margin-left: 0;
    margin-top: 10px
  }
}
