---
import { Image } from "astro:assets";
import fs from "node:fs";
import Page from "../../layouts/Page.astro";

const images = Array.from(fs.globSync("./public/albums/*/1.png")).map((image) =>
	image.replace("public", ""),
);
---

<Page class="grid gap-4 grid-cols-3 md:grid-cols-6 justify-items-center">
	{images.map((image) => {
      const paths = image.split("/");
      const album = paths[paths.length - 2];

      return (
        <a href={`/photos/${album}`}>
          <Image
            class="border border-black @dark:border-white"
            src={image}
            alt=""
            height="200"
            width="200"
          />
        </a>
      );
    })}
</Page>
