<section class="contact container">
  <h1>Get in touch...</h1>
  <form
    action="mailto:quintuscardozo@gmail.com"
    method="post"
    enctype="text/plain"
  >
    <div class="name">
      <input type="text" name="name" placeholder="Your Name" required />
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <div class="email">
      <i class="fa fa-inbox" aria-hidden="true"></i>
      <input type="email" name="email" placeholder="Email Address" required />
    </div>
    <div class="about">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <textarea
        name="about"
        rows="8"
        placeholder="Tell me about the project"
        required
      ></textarea>
    </div>
    <input type="submit" value="&#xf1d8; Submit" />
  </form>
</section>
