<section class="info container">
  <img src="images/face.jpg" alt="face" />
  <h1>Quintus Cardozo</h1>
  <p>
    <span> <i class="fa fa-gear" aria-hidden="true"></i> Engineer,</span>
    <span> <i class="fa fa-code" aria-hidden="true"></i> Developer,</span>
    <span> <i class="fa fa-gamepad" aria-hidden="true"></i> Gamer</span>
  </p>
  <p>
    <a href="https://twitter.com/quintisimo">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/quintisimo">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://codepen.io/Quintisimo/">
      <i class="fa fa-codepen" aria-hidden="true"></i>
    </a>
  </p>
</section>
