<section class="profile-wrapper container">
  <h1>Profile</h1>
  <div class="profile">
    <div>
      <h2>My Skills</h2>
      <ul>
        <li>Leadership</li>
        <li>Can work in a team or individually</li>
        <li>Bilingual: English and Hindi</li>
        <li>Problem solving</li>
        <li>Time management</li>
        <li>Planning and organization</li>
        <li>Ability to work under pressure</li>
      </ul>
    </div>

    <div>
      <h2>Languages Learned</h2>
      <ul>
        <li>HTML (Hypertext Markup Language)</li>
        <li>CSS (Cascading Style Sheets)</li>
        <li>JS (Javascript)</li>
        <li>PHP (Hypertext Preprocessor)</li>
        <li>MYSQL (My Structured Query Language)</li>
        <li>C# (C Sharp)</li>
        <li>PY (Python)</li>
      </ul>
    </div>
  </div>
</section>
