.contact-wrapper {
  background-image: url("../images/contact.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .contact {
    margin: 0 30px;
  
    h1 {
      color: black;
      margin-bottom: 20px;
    }
    
    input, textarea {
      font-size: 16px;
      outline: none;
      border: 2px black solid;
      padding: 10px;
      padding-left: 30px;
      width: 100%;
    }

    form {
      max-width: 545px;
      margin: auto;
      
      .name, .email, .about {
        display: inline-block;
        position: relative;

        @media (max-width: 500px) {
          display: block;
        }
      }
      
      .name, .email {
        width: calc(50% - 55px);

        @media (max-width: 500px) {
          display: block;
          width: calc(100% - 50px);
        }
      }
      
      .name i, .email i, .about i {
        position: absolute;
        color: black;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
      
      .name i {
        left: 12px;
      }
      
      
      .email {
        margin-left: 11%;

        @media (max-width: 500px) {
          float: none;
          margin-left: 0;
          margin-top: 10px
        }
      }
      
      .about {
        display: block;
        margin: 10px 0;
        width: calc(100% - 45px);
        
        i {
          z-index: 1;
          top: 13px;
          transform: translateY(0);
        }

        @media (max-width: 500px) {
          width: calc(100% - 50px);
        }
      }

      input[type="submit"] {
        font-family: 'FontAwesome', 'Roboto Slab', serif;
        display: block;
        color: inherit;
        background-color: black;
        margin: auto;
        width: auto;
        padding: 10px 20px;
        border: 2px white solid;
        cursor: pointer;
      }
    }
  }
}