.profile-wrapper {
  background-color: #364b70;
  background-image: url('../images/profile.gif');
  background-size: contain;
  background-position: center;

  .profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    div {
      justify-self: center;
      width: 410px;

      ul {
        list-style: none;
      }

      li::before {
        margin-right: 10px;
        font-family: 'FontAwesome';
        content: '\f101';
      }

      h2 {
        margin-top: 20px;
        padding-bottom: 5px;
      }

      li {
        white-space: nowrap;
        position: relative;
        font-size: 20px;
        padding: 5px 0;
      }
    }
  }
}
