---
import Page from "../layouts/Page.astro";
import { SITE_TITLE } from "../consts";
import Face from "../assets/face.jpg";
import { Image } from "astro:assets";
import Heading from "../components/heading.astro";
import hive from "../assets/hive.png";
import littles from "../assets/littles.png";
import unloan from "../assets/unloan.png";
import legalTech from "../assets/legal-tech.png";
---

<Page class="grid gap-12 container">
  <section
    class="flex flex-wrap flex-wrap-reverse gap-4 md:justify-between justify-center py-4"
  >
    <div class="grid grid-rows-2 items-center">
      <div class="text-6xl md:text-9xl text-center md:text-left">Hello</div>
      <p class="text-xl" id="description">
        My name is {SITE_TITLE} and I'm a software engineer.
      </p>
    </div>
    <Image width={300} src={Face} alt="Face" class="rounded-full" />
  </section>
  <section>
    <Heading>About Me</Heading>
    <p>
      I'm a software engineer with a passion for building things. I have a
      background in computer science and have been working in the industry for
      over 7 years. I have experience working with a variety of technologies
      including JavaScript, TypeScript, React, Node.js, and a lot more.
    </p>
  </section>
  <section>
    <Heading>Experience</Heading>
    <div class="grid grid-cols-4 justify-center items-center gap-10">
      {
        [legalTech, unloan, hive, littles].map((company) => (
          <Image
            src={company}
            alt="Company"
            class="rounded-3xl justify-self-center self-center"
          />
        ))
      }
    </div>
  </section>
</Page>
