---
import { Image } from "astro:assets";
import Face from "../assets/face.jpg";
import SectionHeading from "../components/section-heading.astro";
import { SITE_TITLE } from "../consts";
import Page from "../layouts/Page.astro";
import PageHeading from "../components/page-heading.astro";
---

<Page class="grid items-center">
  <section
    class="flex flex-wrap flex-wrap-reverse gap-4 md:justify-between justify-center py-4"
  >
    <div class="flex-1 grid grid-rows-2 items-center">
      <PageHeading
        texts={["Hello", "こんにちは", "नमस्कार"]}
        fallback="Hello"
      />
      <p class="text-xl" id="description">
        My name is {SITE_TITLE} and I'm a software engineer.
      </p>
    </div>
    <Image
      width={300}
      src={Face}
      alt="Face"
      class="rounded-full"
      loading="eager"
    />
  </section>
  <section>
    <SectionHeading>About Me</SectionHeading>
    <div class="grid gap-2">
      <p>
        I'm a software engineer with a passion for building things. I have a
        background in computer science and have been working in the industry for
        over 7 years. I have experience working with a variety of technologies
        including JavaScript, TypeScript, React, Node.js, and a lot more.
      </p>
      <p>I am currently learning Japanese as hobby</p>
    </div>
  </section>
</Page>
