---
import Page from "../layouts/Page.astro";
import { SITE_TITLE } from "../consts";
---

<Page>
  <section>
    <div class="grid grid-rows-2 items-center">
      <h2 class="text-9xl">Ohayo</h2>
      <p class="text-xl" id="type">
        My name is {SITE_TITLE} and I'm a software engineer.
      </p>
    </div>
    <div></div>
  </section>

  <script>
    import TypeIt from "typeit";

    new TypeIt("#type", { speed: 50 })
      .pause(300)
      .delete(18)
      .type("gamer.")
      .pause(300)
      .delete(6)
      .type("manager.")
      .pause(300)
      .delete(8)
      .type("leader.")
      .pause(300)
      .delete(7)
      .type("developer. ")
      .go();
  </script>
</Page>
