---
interface Props {
  link?: string;
  title: string;
  icon: string;
}

const { link, title, icon } = Astro.props;
const Element = link ? "a" : "span";
---

<Element href={link} target="_blank">
  <span class="sr-only">{title}</span>
  <div class:list={["text-xl", icon]}></div>
</Element>
