---
import type { CollectionEntry } from "astro:content";
import Meta from "../components/meta.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { slide } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
  image?: CollectionEntry<"blog">["data"]["heroImage"];
  class?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  class: className,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Meta title={title} description={description} image={image} />
  </head>
  <body class="container mx-auto font-mono @dark:bg-black @dark:text-white">
    <Header />
    <main transition:animate={slide({ duration: "1" })} class={className}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
